body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login,
.Registration {
  background-color: blanchedalmond;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin-top: 25%;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid brown;
  border-radius: 15px;
}

.userFormButton {
  cursor: pointer;
  border-radius: 15px;
  border: none;
  color: darkblue;
  background-color: darkseagreen;
  width: 100%;
  padding: 12px;
}

.headLabel {
  margin-bottom: 20px;
  color: royalblue;
}

.LogoutButton {
  float: right;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.ButtonOut {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  border-radius: 50px;
  margin: 0 15px 15px 0;
  color: #444;
}

button[type=submit] {
  width: 100%;
}

.PostCard {
  border: 1px solid brown;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: bisque;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PostContent {
  flex-grow: 1;
  margin-right: 20px;
}

.PostActions {
  display: flex;
  gap: 10px;
}

.PostButton {
  padding: 4px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.PostButtonEdit {
  background-color: aqua;
}

.PostButtonEdit:hover {
  background-color: darkcyan;
}

.PostButtonDel {
  background-color: chocolate;
}

.PostButtonDel:hover {
  background-color: firebrick;
}