.Header {
  justify-content: space-between;
  display: flex;
}

/* .MainBoard {
  display: flex;
} */

.Posts {
  margin-left: 20px;
}

.Posts h1 {
  color: aliceblue;
}

.ItemBoard {
  border: 1px solid;
  width: 300px;
}

.ListBoard {
  border: 1px solid;
}

.ListBoard li {
  list-style: none;
}

.ListBoard ul {
  padding-left: 10px;
  padding-right: 10px;
}