.Header {
  justify-content: space-between;
  display: flex;
}

.MainBoard {
  display: flex;
}

.Posts h1 {
  color: aliceblue;
}

.ItemBoard {
  border: 1px solid;
}

.ListBoard {
  border: 1px solid;
}

.ListBoard li {
  list-style: none;
}