body {
  /* background-color: antiquewhite;  */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #889aeebb 0%, #3e3b41 50%, #62f17aa4 100%);
  background-attachment: fixed;
}

button[type=submit] {
  width: 100%;
}

@keyframes slideDown {
  from {opacity: 0; transform: translateY(-8px);}
  to {opacity: 1; transform: translateY(0);}
}

/* .LogoutButton {
  display: flex;
  justify-content: flex-end;
} */

.MainBoard {
  display: flex;
}