body {
  display: flex;
  background: linear-gradient(135deg, #bdc1cfbb 0%, #c4d9ec 50%, #62f17aa4 100%);
  background-attachment: fixed;
  flex-direction: column;
}

button[type=submit] {
  width: 100%;
}

@keyframes slideDown {
  from {opacity: 0; transform: translateY(-8px);}
  to {opacity: 1; transform: translateY(0);}
}
