.PostCard {
  /* border: 1px solid brown; */
  padding: 6px;
  margin-bottom: 10px;
  /* border-radius: 7px; */
  background: #eee;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

/* .PostCard:nth-child(odd) {
  background: #f9f9f9;
} */

.PostCard:hover {
  background: #ddd;
}

.PostContent {
  flex-grow: 1;
  /* margin-right: 20px; */
}

.PostActions {
  display: flex;
  gap: 10px;
}

.PostButton {
  padding: 4px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.PostButtonEdit {
  background-color: aqua;
}

.PostButtonEdit:hover {
  background-color: darkcyan;
}

.PostButtonDel {
  background-color: chocolate;
}

.PostButtonDel:hover {
  background-color: firebrick;
}
