.Login,
.Registration {
  background-color: blanchedalmond;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 380px;
  max-width: 400px;
  max-width: 90vw;
  box-sizing: border-box;
  margin: 8vh auto;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #a67c00;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  box-shadow: 0 2px 10px rgba(7, 100, 240, 0.8);
}

input.Error {
  box-shadow: 0 2px 5px rgba(245, 4, 4, 0.8);
}

.headLabel {
  margin-bottom: 20px;
  color: royalblue;
}

.userFormButton {
  cursor: pointer;
  border-radius: 15px;
  border: none;
  color: darkblue;
  background-color: darkseagreen;
  width: 100%;
  padding: 12px;
}
