.Login,
.Registration {
  background-color: blanchedalmond;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin-top: 25%;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid brown;
  border-radius: 15px;
}

.headLabel {
  margin-bottom: 20px;
  color: royalblue;
}

.userFormButton {
  cursor: pointer;
  border-radius: 15px;
  border: none;
  color: darkblue;
  background-color: darkseagreen;
  width: 100%;
  padding: 12px;
}
